<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Learn Vuejs Codecourse</title>
    <link rel="stylesheet" href="">
    <style>
    </style>
</head>
<body>
    <div id="app">
        {{ name | lowerCase | trim }}
        {{ email | lowerCase | trim }}
        {{ description | truncate(50) }}
    </div>
    
    <script src="http://unpkg.com/vue"></script>
    <script src="http://unpkg.com/lodash@4.13.1/lodash.min.js"></script>
    <script>
        let app = new Vue({
            el: '#app',
            data: {
                name: 'Iman SaeFULLOH',
                email: 'iman@    Syaefulloh.com',
                description: 'Lorem ipsum dolor sit amet, consectetur adipisicing elit. Incidunt laudantium, a quidem molestiae, voluptas repellendus recusandae maiores sunt possimus soluta qui blanditiis. Iusto eveniet, provident explicabo illo veniam vitae in quis eum nisi! Distinctio accusantium in iure nulla consequuntur vitae earum at ab reiciendis placeat nobis, sit molestias voluptas error quia blanditiis voluptatem, illo, maxime neque id mollitia natus. Placeat beatae dolores, at maiores obcaecati voluptatibus? Pariatur doloribus deserunt ipsa vitae assumenda porro tenetur voluptatem, minus consequuntur similique ipsum laboriosam, quibusdam dolores voluptatum. Voluptas accusamus sunt error excepturi obcaecati tenetur, corporis maiores dolorem, sequi rem commodi perferendis nesciunt unde? Nulla?'
            },
            filters: {
                lowerCase(value) {
                    return value.toLowerCase();
                },
                trim(value) {
                    return value.replace(/\s/g, '');
                },
                truncate(value, length = 20) {
                    if(value.length > length) {
                        return value.substring(0, length) + '...';
                    }

                    return value;
                }
            },
            methods: {
                
            },
            computed: {
                
            },
            watch: {
                
            },
            mounted() {
                
            }
        });
    </script>
</body>
</html>